In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
#import csv file
csv_path = Path("gun_deaths.csv")

#read data into dataframe
df = pd.read_csv(csv_path)

df.head()

,year,month,intent,police,sex,age,race,place,education
0,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,Home,BA+
1,2012,1,Suicide,0,F,21.0,White,Street,Some college
2,2012,1,Suicide,0,M,60.0,White,Other specified,BA+
3,2012,2,Suicide,0,M,64.0,White,Home,BA+
4,2012,2,Suicide,0,M,31.0,White,Other specified,HS/GED

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100798 entries, 0 to 100797
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   year       100798 non-null  int64
 1   month      100798 non-null  int64
 2   intent     100797 non-null  object
 3   police     100798 non-null  int64
 4   sex        100798 non-null  object
 5   age        100780 non-null  float64
 6   race       100798 non-null  object
 7   place      99414 non-null   object
 8   education  99376 non-null   object
dtypes: float64(1), int64(3), object(5)
memory usage: 6.9+ MB

In [4]:
#drop null values from dataframe
new_df = df.dropna(how='any', inplace=False)

In [5]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98015 entries, 0 to 100797
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       98015 non-null  int64
 1   month      98015 non-null  int64
 2   intent     98015 non-null  object
 3   police     98015 non-null  int64
 4   sex        98015 non-null  object
 5   age        98015 non-null  float64
 6   race       98015 non-null  object
 7   place      98015 non-null  object
 8   education  98015 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 7.5+ MB

In [6]:
#delete police column
del new_df['police']

In [7]:
new_df['month'].value_counts()

month
7     8737
8     8512
5     8420
6     8418
9     8299
4     8207
12    8182
10    8181
3     8078
1     8056
11    8025
2     6900
Name: count, dtype: int64

In [8]:
#group by year and intent to track suicides compared to homicides
intent_df = new_df.groupby(['year'])['intent']

#show the breakdown of numbers
intent_df.value_counts()

year  intent
2012  Suicide         20360
      Homicide        11467
      Accidental        533
      Undetermined      255
2013  Suicide         20892
      Homicide        11073
      Accidental        490
      Undetermined      275
2014  Suicide         21039
      Homicide        10789
      Accidental        575
      Undetermined      267
Name: count, dtype: int64

In [44]:
#What percent of gun deaths are males vs females
sex_df = new_df.groupby(['year'])['sex']
#male= sex_df['sex']=='M'.count()
#print(male)
sexyear_df = pd.DataFrame(sex_df.value_counts())
sexyear_df.head()
male2012 = sexyear_df.loc[2012,'M']
print(male2012)
# sexyear_df
#male2012

count    27974
Name: (2012, M), dtype: int64

In [ ]:
#Which education level is most likely to die from a gun

In [ ]:
#What race is most likely to die from a gun

In [ ]:
#Are you more likely to die in your own home or the streets

In [ ]:
#What month do the most gun deaths occur

In [ ]:
#What ages are most likely to die by gun

In [ ]:
#Who is most likely to be a victim of gun death